body {
  font: 14px 'Century Gothic', Futura, sans-serif;
  margin: 20px;
  background-color: rgba(103, 76, 71, 0.5);
  background-image: url('./images/wood.png');
}

#chess-app {
  overflow: hidden;
}

#modal-root {
  position: relative;
  z-index: 999;
}

.board {
  float: left;
  border: solid 10px #333435;
}

.desk {
  float: left;
  padding: 10px;
  min-width: 200px;
  max-width: 400px;
  height: 700px;
  overflow-wrap: inherit;
}

.desk div {
  width: 80px;
  height: 80px;
  float: left;
}

.turnLabel {
  margin: 0 0 25px 25px;
  font-size: 35px;
  font-weight: bold;
}

.turnLabel span.white {
  display: inline-block;
  transition: all 0.8s ease;
  width: 150px;
  text-align: center;
  line-height: 1.5em;
  font-weight: bold;
  color: #232b2b;
  background-color: #fff;
  border-radius: 5px;
}

.turnLabel span.black {
  display: inline-block;
  transition: all 0.8s ease;
  width: 150px;
  text-align: center;
  line-height: 1.5em;
  font-weight: bold;
  color: #fff;
  background-color: #232b2b;
  border-radius: 5px;
}

.checkLabel {
  margin: 0 0 25px 30px;
  font-size: 35px;
  font-weight: bold;
}

.checkLabel span {
  display: inline-block;
  transition: all 0.8s ease;
  width: 150px;
  text-align: center;
  line-height: 1.5em;
  font-weight: bold;
  color: #232b2b;
  background-color: #fff;
  border-radius: 5px;
}

.infoLabel {
  margin: 0 0 25px 30px;
  font-size: 35px;
  font-weight: bold;
}

.infoLabel span {
  display: inline-block;
  text-align: left;
  font-weight: bold;
  color: rgb(122, 10, 2);
}

.gameLog {
  float: right;
  min-width: 400px;
  max-width: 400px;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 5px;
  overflow: auto;
}

.gameLog p {
  color: #f8f5f3;
  margin: 5px;
  font-size: 18px;
}

.promotionOptions {
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.promotionOptions div {
  width: 80px;
  height: 80px;
  float: left;
}

.endGameModal {
  background-color: rgba(0, 0, 0, 0.7);
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.endGameModal p {
  color: white;
  font-weight: bolder;
  font-size: 5em;
}

.black {
  fill: black;
  margin: 5px;
}

.white {
  fill: white;
  stroke: black;
  stroke-linecap: round;
  stroke-width: 2px;
  margin: 5px;
}

.highlight-tile {
  background-color: #93d6f9 !important;
  filter: brightness(80%);
}

.highlight-move {
  background-color: #d6f984 !important;
  filter: brightness(80%);
}

ol,
ul {
  padding-left: 30px;
}

.board {
  background-color: #333435;
}

.board-row:after {
  clear: both;
  content: '';
  display: table;
}

.board-row:nth-child(odd) .tile:nth-child(odd) {
  background: #f8f5f3;
  color: #8f8a8a;
}

.board-row:nth-child(odd) .tile:nth-child(even) {
  background: #8f8a8a;
  color: #f8f5f3;
}

.tile:nth-child(odd) {
  background: #8f8a8a;
  color: #f8f5f3;
}

.tile:nth-child(even) {
  background: #f8f5f3;
  color: #8f8a8a;
}

.tile {
  border: 1px solid #999;
  float: left;
  font-size: 15px;
  font-weight: bold;
  line-height: 80px;
  height: 80px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 80px;
}

.tile:focus {
  outline: none;
}

.kbd-navigation .tile:focus {
  background: #ddd;
}

.label-row {
  margin-left: 34px;
  background-color: #333435;
}

.tileLabel {
  background-color: #333435;
  color: white;
  float: left;
  font-size: 15px;
  font-weight: bold;
  line-height: 40px;
  height: 30px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 82px;
}

.tileNumbers {
  background-color: #333435;
  color: white;
  float: left;
  font-size: 18px;
  font-weight: bold;
  line-height: 80px;
  height: 82px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0 5px 0 0;
  text-align: center;
  width: 30px;
}

.game {
  display: flex;
  flex-direction: row;
}

.game-info {
  margin-left: 20px;
}

#app-root {
  height: 10em;
  width: 10em;
  background: lightblue;
  overflow: hidden;
}

#modal-root {
  position: relative;
  z-index: 999;
}

.modal {
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.promotionButton {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
  width: 80px;
  height: 80px;
}
